.container {
  padding: 0;
  margin: 0;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.products {
  margin: 0 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

