.container {
    padding: 64px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    opacity: 1;
    font-size: 3em;
}

.userinfo {
    margin: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    border: none;
    background: none;
    cursor: pointer;
}

.text {
    color: white;
    margin: 8px;
}