.product {
    border: 1px solid red;
    min-width: 400px;
}

.product h1 {
    color: #ffffff;
}

.product p {
    color: #fff000;
}

.product button {
    width: 100%;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
}

.available {
    color: green !important;
}